html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column; /* Ensure body and its children stack vertically */
    max-width: calc(100% - 12px) !important;
}

.row {
    flex: 1;
    overflow: hidden; /* Hide overflow from body */
}

.chats {
	background: #005a5a;
    padding: 0px !important;
    overflow-y: auto;
    display: block;
    height: 100%;
}

.add-friend-section {
    background: linear-gradient(to bottom, #0a6f6f, #095e61, #065350);
    padding: 0px !important;
    overflow-y: auto;
    display: none;
    height: 100%;
}

#left-side {
    height: 100%;
}

.chat-texts {
    background-image: url("../images/backgroud-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0px !important;
    overflow-y: auto;
}

.user-profile {
    display: flex;
    align-items: center;
	background: #006d6d;
    width: 100% !important;
    padding-left: 30px;
    height: 70px;
    position: relative;
    user-select: none;
}

#dropdownMenu {
    overflow: hidden;
    display: inline;
    height: 0px;
    padding: 0px;
    width: 150px;
    border: hidden;
    transition: all ease-out 0.5s !important;
}

.dropdown-menu {
    top: 40px;
    left: -3px;
    position: absolute;
    background-color: #0c8484 !important;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}

.dropdown {
    position: relative;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: #ededed;
    margin: 5px 0;
    border-radius: 5px;
}

.dropdown-item:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.297);
}

.dropdown-item {
	background: #18b5b500 !important;
    transition: all ease 0.5s !important;
    font-weight: bold;
    color: white !important;
    font-size: 18px;
    margin: 5px auto;
}

.logo {
    height: 50%;
    width: auto;
    position: absolute;
    right: 15px;
    pointer-events: none;
}

.bi {
    margin-right: 5px;
}

.back-button {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 25px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.bi-search {
    color: #ffffff;
}

.d-flex {
    margin: auto;
}

.user-found {
    margin: 20px auto;
    display: none !important;
	background: linear-gradient(#099797, #099797);
    display: flex;
    align-items: center;
    justify-content: center;
}

.pfp {
    left: 20px;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    margin: 14px;
    object-fit: cover;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.409);
    pointer-events: none;
}

#username {
    width: auto;
    height: auto;
    flex-grow: 1;
    font-size: 20px;
    color: white;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Display ellipsis for truncated text */
}

#add-friend {
    height: 40px;
    border-radius: 5px;
    background-color: #0325ff;
    color: white;
    padding: 7px;
    font-size: 15px;
    margin: 10px;
    flex-grow: 1;
    cursor: pointer;
    transition: box-shadow ease 0.5s;
}

#add-friend:hover {
    background-color: rgb(0, 29, 214);
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2);
}

#add-friend-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
}

.message-box {
    display: none;
    position: fixed;
    top: 10px !important;
    min-width: 20%;
    z-index: 2;
    border-radius: 10px;
	color: #005d67;
	font-family: Arial, Helvetica, sans-serif;
}

.message-content {
    background: linear-gradient(to right, #8cfcf8, #74faff, #47ffff);
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Add shadow for better visibility */
    border-radius: 10px;
}

#message-text {
    margin-bottom: 10px;
}

#message-progress {
    width: 100%;
    height: 5px;
    background-color: #005d67;
    border-radius: 5px;
    transition: all 0.04s;
}

#error-msg {
    color: rgb(255, 255, 255);
    margin: 0 auto;
    font-size: 20px;
    display: none;
    padding: 20px;
}

.friend-requests-notif {
    width: 35px;
    height: 35px;
    margin: 20px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.friend-requests-notif .bi {
    margin: auto;
    font-size: 20px;
}

#friend-requests-notif-text {
    display: none;
}

.friend-requests-section {
    display: none;
	background: linear-gradient(to bottom, #0a6f6f, #095e61, #065350);
    overflow-y: auto;
    height: 100% !important;
    padding: 0px !important;
}

#friend-requests-title {
    display: flex;
    align-items: center;
    padding: 35px;
    position: relative;
}

#friend-requests-title p {
    position: absolute;
    color: white;
    margin: auto;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    padding: 0px !important;
    font-size: 19px;
}

.friend-requests-back-button {
    position: absolute;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 25px;
    width: 25px;
    border-radius: 5px;
    cursor: pointer;
}

.friend-requests-list {
    align-items: center;
    flex-direction: column;
    height: calc(100% - 90px); /* Use 100% for full height */
    position: relative;
    overflow-y: auto; /* Enable vertical scrolling when content exceeds height */
}

.friend-request-profile {
    width: 100%;
    margin: 0;
    padding: 0px 15px;
    background: #099797;
    display: flex;
    border-bottom: rgb(0, 109, 96) 1px solid;
    transition: box-shadow ease 0.5s;
    position: relative;
    user-select: none;
}

.friend-request-profile:hover {
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.258); /* Use 'inset' to create an inner shadow */
}

.friend-request-profile.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease; /* Adjust the transition duration as needed */
}

.friend-requests-username {
    color: white;
    font-size: 19px;
    flex-grow: 1;
    margin-top: 15px !important;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Display ellipsis for truncated text */
    font-family: Tahoma, sans-serif;
}

.accept-button {
    height: 80%;
    width: 90px;
    margin: auto 10px;
}

.no-request-available {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 18px;
    padding: 10px;
}

.contact-username {
    margin-top: 10px;
    margin-left: 5px;
    color: white;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Tahoma, sans-serif;
    flex-grow: 1;
}

.contact {
    width: 100%;
    margin: 0;
    padding: 5px;
    display: flex;
    border-bottom: rgba(0, 0, 0, 0.4) 1px solid;
    transition: box-shadow ease 0.5s;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.contact:hover {
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.258); /* Use 'inset' to create an inner shadow */
}

.contact-pfp {
    left: 20px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 8px;
    margin-left: 18px;
    object-fit: cover;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.409);
    pointer-events: none;
}

.friend-profile-bar {
    height: 70px !important;
    background-color: white;
    width: 100% !important;
	background: #006d6d;
    align-items: center;
    display: none;
    user-select: none;
    border-left: #00000068 1px solid;
}

.friend-profile-bar-username {
    margin-left: 10px;
    margin-bottom: 25px;
    color: white;
    font-size: 17px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    font-family: Tahoma, sans-serif;
}

.friend-profile-bar-pfp {
    left: 20px;
    height: 52px;
    width: 52px;
    border-radius: 50%;
    margin-left: 10px;
    object-fit: cover;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.409);
    pointer-events: none;
}

.friend-profile-bar .back-button {
    margin-left: 25px;
    font-size: 22px;
}

#contacts-list {
    align-items: center;
    flex-direction: column;
    height: calc(100% - 90px); /* Use 100% for full height */
    position: relative;
    overflow-y: auto; /* Enable vertical scrolling when content exceeds height */
}

.add-friend-section .navbar .container-fluid {
    margin: 15px auto;
}

.bi-three-dots-vertical {
    margin-top: 20px;
    margin-right: 10px;
    color: white;
}