html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}

.row {
    flex: 1;
}

.chats {
	background: linear-gradient(to bottom, #0a6f6f, #095e61, #033432);
    height: 100%;
    overflow-y: auto;
}

.chat-texts {
    background-image: url("https://imageupload.io/ib/ibgg4svmX06uIKP_1695540003.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.user-profile {
    display: flex;
    align-items: center;
    padding: 10px;
	background: linear-gradient(to bottom left, #34e2e2ae, #23bfc4af, #169a96b7);
    border-radius: 10px;
    margin: 10px auto;
    width: 95% !important;
    height: 60px;
    position: relative;
}

.dropdown-menu {
    top: 50px;
    left: 0px;
    position: absolute;
    background-color: #34e2e2ae !important;
}

.dropdown {
    position: relative;
}

.bar {
    width: 30px;
    height: 4px;
    background-color: #ededed;
    margin: 5px 0;
    border-radius: 2px;
}

.dropdown-item:hover {
	background: linear-gradient(to right, #12a0a0, #1cbebe);
}

.dropdown-item {
    font-weight: bold;
}

.logo {
    height: 60%;
    width: auto;
    position: absolute;
    right: 15px;
}

.bi {
    margin-right: 5px;
}

.add-firend-section {
    display: none;
	background: linear-gradient(to bottom, #0a6f6f, #095e61, #033432);
    height: 100%;
    overflow-y: auto;
}

.navbar-light {
    background-color: rgba(255, 255, 255, 0) !important;
    width: 95%;
    border-radius: 8px;
    margin: 10px auto;
}

.back-button {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 25px;
    margin-right: 10px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}

.bi-search {
    color: #ffffff;
}

.d-flex {
    margin: auto;
}

.user-found {
    border-radius: 7px;
    margin: 20px auto;
    display: none !important;
	background: linear-gradient(to bottom left, #34e2e2, #19a9ae, #0b7e7a);
}

#pfp {
    left: 20px;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    margin: 8px;
    object-fit: cover;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.409);;
}

#username {
    left: 70px;
    flex-grow: 1;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-bottom: 30px;
    margin-left: 5px;
}

#add-friend {
    height: 40px;
    border-radius: 5px;
    background-color: #0325ff;
    color: white;
    padding: 10px;
    font-size: 15px;
    margin: 10px;
    flex-grow: 1;
    cursor: pointer;
    transition: all ease 0.5s;
}

#add-friend:hover {
    background-color: rgb(0, 29, 214);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#add-friend-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.message-box {
    display: none;
    position: fixed;
    top: 10px !important;
    min-width: 20%;
    background-color: rgba(255, 255, 255, 0.9); /* Transparent background */
    z-index: 2;
    border-radius: 10px;
}

.message-content {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add shadow for better visibility */
    border-radius: 10px;
}

#message-text {
    margin-bottom: 10px;
    font-weight: bold;
}

#message-progress {
    width: 100%;
    height: 5px;
    background-color: #007bff;
    border-radius: 5px;
    transition: all 0.04s;
}