html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}

.row {
    flex: 1;
}

.chats {
    background-color: rgb(200, 200, 200);
    height: 100%;
}

.chat-texts {
    background-color: rgb(128, 170, 186);
    height: 100%;
}

.user-profile {
    display: flex;
    align-items: center;
    padding: 10px;
	background: linear-gradient(to bottom right, #27cdcd, #169ea3, #12918d);
    border-radius: 10px;
    margin: 5px;
    max-width: 100%;
}

.profile-picture-template {
    min-width: 50px !important;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.pfp {
    height: 100%;
    max-width: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover entire container */
    border-radius: 50%;
}

.user-name {
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px; /* Add a left margin of 10px */
    flex-grow: 1; /* Allow the username to grow and take up remaining space */
    white-space: nowrap; /* Prevent the username from wrapping to the next line */
    overflow: hidden; /* Hide any overflow text */
    text-overflow: ellipsis; /* Show ellipsis (...) for long usernames */
}

a {
    color:black !important;
    text-decoration: none !important;
}