html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}

.row {
    flex: 1;
}

.chats {
	background: linear-gradient(to bottom, #0a6f6f, #095e61, #033432);
    height: 100%;
    padding: 0px !important;
}

.chat-texts {
    background-image: url("../images/backgroud-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.user-profile {
    display: flex;
    align-items: center;
    padding: 10px;
	background: linear-gradient(to bottom left, #34e2e2ae, #23bfc4af, #169a96b7);
    border-radius: 10px;
    margin: 10px auto;
    margin-bottom: 20px;
    width: 85% !important;
    height: 60px;
    position: relative;
}

#dropdownMenu {
    overflow: hidden;
    display: inline;
    height: 0px;
    padding: 0px;
    width: 150px;
    border: hidden;
    transition: all ease-out 0.5s !important;
}

.dropdown-menu {
    top: 50px;
    left: 10px;
    position: absolute;
    background-color: #199c9c !important;
}

.dropdown {
    position: relative;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: #ededed;
    margin: 5px 0;
    border-radius: 5px;
}

.dropdown-item:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.297);
}

.dropdown-item {
	background: #18b5b500 !important;
    transition: all ease 0.5s !important;
    font-weight: bold;
    color: white !important;
    font-size: 18px;
    margin: 5px auto;
}

.logo {
    height: 60%;
    width: auto;
    position: absolute;
    right: 15px;
}

.bi {
    margin-right: 5px;
}

.add-firend-section {
    display: none;
	background: linear-gradient(to bottom, #0a6f6f, #095e61, #033432);
    height: 100%;
    overflow-y: auto;
}

.navbar-light {
    background-color: rgba(255, 255, 255, 0) !important;
    width: 95%;
    border-radius: 8px;
    margin: 10px auto;
}

.back-button {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 25px;
    margin-right: 10px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}

.bi-search {
    color: #ffffff;
}

.d-flex {
    margin: auto;
}

.user-found {
    border-radius: 7px;
    margin: 20px auto;
    display: none !important;
	background: linear-gradient(to bottom left, #34e2e2, #19a9ae, #0b7e7a);
}

.pfp {
    left: 20px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 8px;
    object-fit: cover;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.409);
}

#username {
    left: 70px;
    flex-grow: 1;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin: auto;
    margin-bottom: 40px;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Display ellipsis for truncated text */
}

#add-friend {
    height: 40px;
    border-radius: 5px;
    background-color: #0325ff;
    color: white;
    padding: 7px;
    font-size: 15px;
    margin: 10px;
    flex-grow: 1;
    cursor: pointer;
    transition: box-shadow ease 0.5s;
}

#add-friend:hover {
    background-color: rgb(0, 29, 214);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#add-friend-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
}

.message-box {
    display: none;
    position: fixed;
    top: 10px !important;
    min-width: 20%;
    background-color: rgba(255, 255, 255, 0.9); /* Transparent background */
    z-index: 2;
    border-radius: 10px;
}

.message-content {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add shadow for better visibility */
    border-radius: 10px;
}

#message-text {
    margin-bottom: 10px;
    font-weight: bold;
}

#message-progress {
    width: 100%;
    height: 5px;
    background-color: #007bff;
    border-radius: 5px;
    transition: all 0.04s;
}

#error-msg {
    border-radius: 7px;
    margin: 20px auto !important;
    padding: 5px;
    display: none;
}

#error-msg {
    color: rgb(255, 255, 255);
    margin: 0 auto;
    font-size: 20px;
}

.friend-requests-notif {
    width: 35px;
    height: 35px;
    margin: 20px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.friend-requests-notif .bi {
    margin: auto;
    font-size: 20px;
}

#friend-requests-notif-text {
    display: none;
}

.friend-requests-section {
    display: none;
	background: linear-gradient(to bottom, #0a6f6f, #095e61, #033432);
    overflow-y: auto;
    height: 100% !important;
}

#friend-requests-title {
    color: white;
    text-align: center;
}

.friend-requests-back-button {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 25px;
    margin: 10px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}

.friend-requests-list {
    width: 90%;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
}

.friend-request-profile {
	background: linear-gradient(to bottom right, #0e8787, #095e61, #033432);
    margin: 10px;
    padding: 2px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.friend-request-profile.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease; /* Adjust the transition duration as needed */
}

.friend-requests-username {
    color: white;
    font-size: 19px;
    flex-grow: 1;
    margin-top: 10px !important;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Display ellipsis for truncated text */
}

.accept-button {
    height: 80%;
    width: 90px;
    margin: 10px;
}

.no-request-available {
    color: black;
    text-align: center;
    font-size: 18px;
}

.contact-username {
    margin-top: 10px;
    margin-left: 5px;
    color: white;
    font-size: 17px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.contact {
    width: 100%;
    margin: 0;
    padding: 5px;
    background: #099797;
    display: flex;
    border-bottom: rgb(0, 109, 96) 1px solid;
    transition: box-shadow ease 0.5s;
    position: relative; /* Add position:relative to the container */
}

.contact:hover {
    box-shadow: inset 5px 5px 25px rgba(0, 0, 0, 0.409); /* Use 'inset' to create an inner shadow */
}

.contact-pfp {
    left: 20px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 8px;
    margin-left: 18px;
    object-fit: cover;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.409);
}