.body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #2de4e4, #118e92, #076c68);
}

header {
	height: 80px;
	background: linear-gradient(to bottom, #2de4e450, #2de4e4);
	display: flex;
	align-items: center;
	justify-content: center;
}

.main {
	width: 350px;
	height: 500px;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 5px 10px 30px #000;
}

#chk {
	display: none;
}

.signup {
	position: relative;
	width: 100%;
	height: 100%;
}

label {
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex !important;
	margin: 30px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}

input {
	width: 60%;
	height: 40px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto !important;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}

.button {
	color: #fff;
	background: #25c4d0;
}

.button:hover {
	background: #18a9b3;
}

.login {
	height: 460px;
	background: #05656c;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
	padding-top: 1px;
	margin-top: 50px;
}

.login label {
	color: #fff;
	transform: scale(.6);
}

#chk:checked ~ .login {
	transform: translateY(-500px);
}

#chk:checked ~ .login label {
	transform: scale(1);
}

#chk:checked ~ .signup label {
	transform: scale(.6);
}

.logo {
	height: 60px;
	width: auto;
}

.password-input {
    position: relative;
}

.password-input input {
    padding-right: 32px;
}

.password-input i {
    position: absolute;
    top: 50%;
    right: 80px;
    transform: translateY(-50%);
    cursor: pointer;
}

.error-message {
	justify-content: center;
    color: rgb(255, 0, 0);
    background-color: rgb(215, 215, 215);
    border-radius: 5px;
    font-size: 13px;
    padding: 5px;
    display: none;
}