.body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
    background-image: url("../images/backgroud-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header {
	height: 80px;
	background: linear-gradient(to right, #30fffffe, #13a9a9);
	display: flex;
	align-items: center;
	justify-content: center;
}

.main {
	background: linear-gradient(to bottom, #2de4e4ec, #118e92eb, #076c69e8);
	width: 350px;
	height: 500px;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 5px 10px 30px #000;
}

#chk {
	display: none;
}

.signup {
	position: relative;
	width: 100%;
	height: 100%;
}

label {
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex !important;
	margin: 30px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}

input {
	width: 60%;
	height: 40px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto !important;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}

.button {
	color: #fff;
	background: #25c4d0;
}

.button:hover {
	background: #18a9b3;
}

.login {
	height: 460px;
	background: linear-gradient(to bottom, #076c69, #118e92, #13a9a9);
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
	padding-top: 1px;
	margin-top: 50px;
}

.login label {
	color: #fff;
	transform: scale(.6);
}

#chk:checked ~ .login {
	transform: translateY(-500px);
}

#chk:checked ~ .login label {
	transform: scale(1);
}

#chk:checked ~ .signup label {
	transform: scale(.6);
}

.logo {
	height: 60px;
	width: auto;
}

.password-input {
    position: relative;
}

.password-input input {
    padding-right: 32px;
}

.password-input i {
    position: absolute;
    top: 50%;
    right: 80px;
    transform: translateY(-50%);
    cursor: pointer;
}

.error-message {
	justify-content: center;
    color: rgb(255, 0, 0);
    background-color: rgb(215, 215, 215);
    border-radius: 5px;
    font-size: 13px;
    padding: 5px;
    display: none;
}

a {
	color: white !important;
	text-decoration: none !important;
}

.message-box {
    display: none;
    position: fixed;
    top: 10px !important;
    min-width: 20%;
    background-color: rgba(255, 255, 255, 0.9); /* Transparent background */
    z-index: 2;
    border-radius: 10px;
}

.message-content {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add shadow for better visibility */
    border-radius: 10px;
}

#message-text {
    margin-bottom: 10px;
    font-weight: bold;
}

#message-progress {
    width: 100%;
    height: 5px;
    background-color: #007bff;
    border-radius: 5px;
    transition: all 0.04s;
}