.container {
	background: linear-gradient(to bottom, #0e8585e9, #08686cfb, #034543f0);
    align-items: center;
    flex-direction: column;
    height: 100vh;
    position: relative;
    overflow-y: auto;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("../images/backgroud-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

body {
    display: flex;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
}

.profile-picture-template {
    margin: auto;
    margin-top: 20vh;
    width: 200px !important;
    height: 200px !important;
    border-radius: 50%;
    background-color: #fff;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    position: relative;
}

.edit-icon-div {
    bottom: 20px;
    right: 0px;
    position: absolute;
    padding: auto;
    background-color: white;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.edit-icon {
    font-size: 21px;
}

.pfp {
    max-width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover entire container */
    border-radius: 50%;
}

.edit-profile-form {
    margin: 0 auto; 
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    width: 300px;
    align-items: center;
}

.form-label {
    color: white;
    margin-top: 15px;
}

.apply-changes-btn {
    margin: 20px !important;
    font-size: 18px !important;
    font-weight: bold !important;
    width: 200px;
    height: 50px;
}

.logout-button .btn {
    position: absolute; /* Position relative to the container */
    top: 20px;
    right: 20px;
    width: 150px;
    height: 50px;
    font-size: 18px !important;
    font-weight: bold !important;
}

.form-control {
    font-size: 16px !important;
}

.back-button {
    position: absolute;
    top: 30px;
    left: 30px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 25px;
}

.message-box {
    display: none;
    position: fixed;
    top: 10px !important;
    min-width: 20%;
    background-color: rgba(255, 255, 255, 0.9); /* Transparent background */
    z-index: 2;
    border-radius: 10px;
}

.message-content {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add shadow for better visibility */
    border-radius: 10px;
}

#message-text {
    margin-bottom: 10px;
    font-weight: bold;
}

#message-progress {
    width: 100%;
    height: 5px;
    background-color: #007bff;
    border-radius: 5px;
    transition: all 0.04s;
}

.email-input-container {
    display: flex; /* Use Flexbox for layout */
    align-items: center; /* Vertically align items */
}

.form-group {
    margin-top: 15px;
}

.verify-email-button {
    margin-left: 10px; /* Add some space between the input and button */
    flex: 0; /* Ensure the button doesn't grow to fill available space */
    display: none;
}

.verify-email-button .btn {
    font-size: 17px !important;
    font-weight: bold !important;
}

.password-input {
    position: relative;
}

#password {
    padding-right: 32px;
}

.password-input i {
    position: absolute;
    top: 77%;
    right: 6px;
    transform: translateY(-50%);
    cursor: pointer;
}

.cropModal .modal-body {
    height: 300px;
    width: auto !important;
    padding: 0px;
}

.confirm-password-input i {
    position: absolute;
    top: 67%;
    right: 25px;
    transform: translateY(-50%);
    font-size: 20px;
    cursor: pointer;
}

#currentPassword {
    padding-right: 37px;
}

.crop-modal .modal-content {
    border-radius: 10px;
}

.crop-modal .modal-body {
    text-align: center !important;
}

.image-cropper {
    overflow: hidden;
    max-height: 100%;
}

.image-cropper img {
    max-width: 100%;
    height: auto;
}

.cropper-view-box,
.cropper-face {
    border-radius: 50%;
}

/* Hide the grid lines */
.cropper-dashed {
    display: none;
}


.cropper-line {
    display: none !important;
}

.modal-body {
    height: 400px !important;
    width: 400px !important;
    margin: 20px auto !important;
    display: flex;
    justify-content: center;
    align-items: center; /* Center vertically */
}