.container {
	background: linear-gradient(to bottom, #27cdcd, #118e92, #097571);
    align-items: center;
    flex-direction: column;
    height: 100vh;
    position: relative;
    overflow-y: auto;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
}

.profile-picture-template {
    margin: auto;
    margin-top: 20vh;
    width: 200px !important;
    height: 200px !important;
    border-radius: 50%;
    background-color: #fff;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    position: relative;
}

.edit-icon {
    bottom: 15px;
    right: -40px;
    position: absolute;
    font-size: 18px;
}

.pfp {
    max-width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover entire container */
    border-radius: 50%;
}

.edit-profile-form {
    margin: 0 auto; 
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    width: 300px;
    align-items: center;
}

.form-label {
    margin-top: 15px;
}

.apply-changes-btn {
    margin: 20px !important;
    font-size: 18px !important;
    font-weight: bold !important;
    width: 200px;
    height: 50px;
}

.logout-button .btn {
    position: absolute; /* Position relative to the container */
    top: 20px;
    right: 20px;
    width: 150px;
    height: 50px;
    font-size: 18px !important;
    font-weight: bold !important;
}

.form-control {
    font-size: 16px !important;
}

.back-button {
    position: absolute;
    top: 30px;
    left: 30px;
    color: black;
    text-decoration: none;
    font-size: 25px;
}