.container {
	background: linear-gradient(to bottom, #27cdcd, #118e92, #097571);
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    transition: all 0.5s;
    overflow-y: auto;
    padding: 40px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("../images/backgroud-image.jpg");
}

body {
    display: flex;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
}

.success-message {
    display: none;
}

.failure-message {
    display: none;
}

.success-message-text {
    color: rgb(255, 255, 255) !important;
}

.failure-message-text {
    color: rgb(190, 24, 24) !important;
}

.btn {
    font-size: 18px !important;
    font-weight: bold !important;
    width: 200px;
    height: 50px;
}

.password-input-form {
    position: relative;
    padding-right: 32px;
    margin: 0 auto;
    width: 300px;
    height: 200px;
}

.confirm-password-input {
    position: absolute;
    padding-right: 32px;
    margin: 0 auto !important;
    top: 120px;
    width: 300px !important;
}

.password-input {
    position: absolute;
    padding-right: 32px;
    margin: 10px auto !important;
    top: 20px;
    width: 300px !important;
}

.password-input-form i {
    position: absolute;
    top: 47px;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
}

#new-password-label {
    top: 0px;
    left: 0px;
    position: absolute;
    color: white;
    font-weight: bold;
}

#confirm-password-label {
    top: 90px;
    left: 0px;
    position: absolute;
    color: white;
    font-weight: bold;
}

.message-box {
    display: none;
    position: fixed;
    top: 10px !important;
    min-width: 20%;
    z-index: 2;
    border-radius: 10px;
	color: #005d67;
	font-family: Arial, Helvetica, sans-serif;
}

.message-content {
    background: linear-gradient(to right, #8cfcf8, #74faff, #47ffff);
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Add shadow for better visibility */
    border-radius: 10px;
}

#message-text {
    margin-bottom: 10px;
}

#message-progress {
    width: 100%;
    height: 5px;
    background-color: #005d67;
    border-radius: 5px;
    transition: all 0.04s;
}